body, div, ul, li, p, h1, h2, h3, h4, span {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.page .head {
  position: relative;
  height: 55px;
  line-height: 55px;
}
.head .title {
  margin-left: 60px;
  padding-left: 45px;
  float: left;
  font-size: 22px;
  background: url(./img/task_1_7_02.png) left center no-repeat;
}
.head .nav_list {
  margin-right: 65px;
  float: right;
  font-size: 16px;
}
.head .nav_list .nav_item {
  height: 50px;
  margin-left: 20px;
  padding: 0 15px;
  float: left;
}
.head .nav_list .option {
  border-bottom: 5px solid #e85a58;
}
.head .nav_list .login {
  padding-left: 20px;
  background: url(./img/task_1_7_03.png) no-repeat left center;
}
.head .nav_list .nav_item a {
  color: #8a8c93;
}
.head .nav_list .option a, .head .nav_list .login a {
  color: #e85a58;
}

.page .main {
  width: 1280px;
  margin: auto;
}
.main .pack1 {
  position: relative;
  height: 690px;
  background: url(./img/task_1_7_01.png);
}
.pack1 .info {
  position: absolute;
  top: 230px;
  left: 125px;
  color: #fff;
}
.pack1 .info .t1 {
  font-size: 45px;
  margin-bottom: 20px;
}
.pack1 .info .t2 {
  font-size: 16px;
  line-height: 26px;
}
.pack1 .info .t3 {
  width: 330px;
  height: 60px;
  margin-top: 70px;
  display: block;
  font-size: 25pt;
  color: #fff;
  line-height: 60px;
  text-align: center;
  background-color: #e85a58;
}

.main .pack2 {
  position: relative;
  margin: 44px 0 66px 0;
  text-align: center;
}
.pack2 .item {
  width: 318px;
  float: left;
}
.pack2 .item .img {
  margin-bottom: 45px;
  display: block;
}
.pack2 .item .info {
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  color: #8a8c93;
  border-right: 2px solid #c3c3c3;
}
.pack2 .item .over {
  border: none;
}

.main .pack3 {
  position: relative;
  padding: 90px 0;
  background-color: #ededed;
  text-align: center;
}
.pack3 .img {
  display: block;
  margin-bottom: 55px;
}
.pack3 .info {
  font-size: 50px;
  color: #8f8f8f;
}

.main .pack4 {
  position: relative;
  height: 340px;
  background: url(./img/task_1_7_17.png);
  text-align: center;
}
.pack4 .info {
  color: #fff;
  overflow: hidden;
}
.pack4 .info .t1 {
  margin-top: 50px;
  font-size: 20px;
}
.pack4 .info .t2 {
  width: 30px;
  margin: 10px auto;
  border-bottom: 2px solid #fff;
}
.pack4 .info .t3 {
  margin-top: 10px;
  font-size: 12px;
}
.pack4 .form {
  margin-top: 50px;
}
.pack4 .form .list {
  text-align: center;
}
.pack4 .form .item {
  margin-left: 25px;
  display: inline-block;
}
.pack4 .form .item select, .pack4 .form .item .submit {
  height: 35px;
  width: 235px;
}
.pack4 .form .item select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 10px;
  color: #999;
  background: url(./img/task_1_7_09.png) no-repeat right 9px center #fff;
  border: none;
}
.pack4 .form .item .submit {
  background: #e85a58;
  border: none;
  letter-spacing: 25px;
  color: #fff;
}

.main .pack5 {
  position: relative;
  padding: 100px 0;
  background-color: #f7f7f7;
  text-align: center;
}
.pack5 .list .item {
  position: relative;
  height: 390px;
  width: 220px;
  margin-left: 35px;
  display: inline-block;
}
.pack5 .list .item .img {
  display: block;
  padding: 10px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
.pack5 .item .info .t1 {
  font-size: 15px;
  line-height: 30px;
}
.pack5 .item .info .t2 {
  font-size: 12px;
  color: #808080;
}
.pack5 .upside .img {
  position: absolute;
  bottom: 0;
  left:0;
}
.pack5 .upside .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.pack5 .upside .info .t1 {
  font-size: 18px;
  letter-spacing: 15px;
}


.main .pack6 {
  position: relative;
}
.pack6 .piece1, .pack6 .piece2, .pack6 .piece3, .pack6 .piece4, .pack6 .piece5 {
  position: relative;
  float: left;
}
.pack6 .piece1 {
  width: 850px;
  height: 565px;
  float: left;
  text-align: center;
  background: url(./img/task_1_7_15.png);
}
.pack6 .piece1 .img {
  position: absolute;
  top: 270px;
  right: -1px;
  display: block;
}
.pack6 .piece1 .info {
  margin-top: 130px;
  color: #fff;
}
.pack6 .piece1 .info .t1 {
  font-size: 48px;
}
.pack6 .piece1 .info .t2 {
  font-size: 120px;
}
.pack6 .piece1 .info .t3 {
  font-size: 18px;
  line-height: 32px;
}
.pack6 .piece2 {
  width: 430px;
  height: 565px;
}
.pack6 .piece2 .info {
  margin-top: 165px;
  text-align: center;
  padding: 0 70px;
}
.pack6 .piece2 .info .t1 {
  font-size: 18px;
}
.pack6 .piece2 .info .t1 .red {
  color: #e85a58;
}
.pack6 .piece2 .info .t2 {
  margin-top: 15px;
  font-size: 12px;
  line-height: 27px;
  color: #afafaf;
}
.pack6 .piece2 .info .t3 {
  width: 105px;
  height: 35px;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  line-height: 35px;
  display: inline-block;
  border: 1px solid #e85a58;
  color: #e85a58;
}
.pack6 .piece3, .pack6 .piece4{
  height: 520px;
  width: 425px;
  text-align: center;
}
.pack6 .piece3 .info, .pack6 .piece4 .info {
  margin-top: 170px;
}
.pack6 .piece3 .info .t1, .pack6 .piece4 .info .t1 {
  font-size: 20px;
  line-height: 30px;
}
.pack6 .piece3 .info .t2, .pack6 .piece4 .info .t2 {
  width: 30px;
  margin: 15px auto;
}
.pack6 .piece3 .info .t3, .pack6 .piece4 .info .t3 {
  margin-top: 10px;
  width: 165px;
  height: 42px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
}
.pack6 .piece3 {
  background-color: #e85a58;
}
.pack6 .piece3 .info {
  color: #fff;
}
.pack6 .piece3 .info .t2 {
  border-bottom: 2px solid #fff;
}
.pack6 .piece3 .info .t3 {
  color: #fff;
  border: 1px solid #fff;
}
.pack6 .piece4 .info .t2 {
  border-bottom: 2px solid #ababab;
}
.pack6 .piece4 .info .t3 {
  color: #e85a58;;
  border: 1px solid #e85a58;
}
.pack6 .piece5 {
  width: 430px;
  height: 520px;
  background: url(./img/task_1_7_16.png);
}
.pack6 .piece5 .img {
  position: absolute;
  top: 170px;
  left: -1px;
}

.main .pack7 {
  position: relative;
  padding: 120px 0;
  text-align: center;
}
.pack7 .info .t1 {
  font-size: 20px;
}
.pack7 .info .t2 {
  width: 30px;
  margin: 10px auto;
  border-bottom: 2px solid #e85a58;
}
.pack7 .info .t3 {
  font-size: 12px;
  color: #808080;
}

.main .pack8 {
  position: relative;
  padding: 0 140px;
  margin-bottom: 145px;
}
.pack8 .info {
  width: 280px;
  float: left;
}
.pack8 .info .item {
  margin-top: 20px;
}
.pack8 .info .item .t1 {
  font-size: 16px;
}
.pack8 .info .item .t2 {
  margin-top: 15px;
  font-size: 12px;
  color: #808080;
  line-height: 22px;
}
.pack8 .info .item .t3 {
  font-size: 12px;
  float: right;
  background: url(./img/task_1_7_21.png) no-repeat left center;
  padding-left: 20px;
}
.pack8 .form {
  width: 640px;
  float: right;
}
.pack8 .form table {
  width: 100%;
}
.pack8 .form input {
  width: 95%;
  height: 38px;
  font-size: 15px;
  padding-left: 5%;
  background-color: #ededef;
  border: none;
}
.pack8 .form textarea {
  width: 100%;
  height: 120px;
  padding: 0;
  background-color: #ededef;
  border: none;
}
.pack8 .form .submit {
  width: 100%;
  padding: 0;
  text-align: center;
}
.pack8 .form input, .pack8 .form textarea {
  color: #808080;
}

.foot {
  position: relative;
}
.foot .info {
  padding: 90px 0;
  background-color: #32363e;
  text-align: center;
  color: #fff;
}
.foot .info .t1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.foot .info .t2 {
  font-size: 12px;
  line-height: 22px;
}
.foot .info .form {
  width: 510px;
  height: 40px;
  margin: 30px auto;
}
.foot .info .form input {
  padding: 0;
  border: none;
}
.foot .info .form .email {
  width: 430px;
  height: 40px;
  float: left;
  font-size: 20px;
}
.foot .info .form .submit {
  width: 80px;
  height: 40px;
  float: left;
  background-color: #666;
  color: #fff;
}
.foot .info .list .item {
  display: inline-block;
  margin-left: 20px;
}
.foot .mark {
  height: 56px;
  line-height: 56px;
  background-color: #2f3038;
}
.foot .mark .left {
  margin-left: 95px;
  float: left;
}
.foot .mark .right {
  margin-right: 40px;
  float: right;
}
.foot .mark .t1 {
  font-size: 14px;
  color: #fff;
}