/* 公共部分 */
body, div, ul, li, p, h1, h2, h3, h4, span, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* 清除浮动 */
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.page {
  background-color: #eee;
}

.page .head {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #2189bf;
  line-height: 56px;
}
.page .head .logo {
  width: 36px;
  height: 56px;
  float: left;
  margin-left: 50px;
  display: inline-block;
  background: url(./img/task_1_9_1.png) no-repeat center;
}
.page .head .form {
  float: right;
}

/* 表单元素自动垂直居中 */
.page .head .form .search{
  width: 270px;
  height: 28px;
  padding-left: 40px;
  border: none;
  background: url(./img/task_1_9_3.png) no-repeat left 18px center #fff;
  border-radius: 14px;
}
.page .head .login {
  height: 56px;
  margin-left: 20px;
  margin-right: 95px;
  float: right;
  line-height: 56px;
}
.page .head .login a {
  padding-left: 20px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: url(./img/task_1_9_2.png) no-repeat left center;
}

/* 内容部分
  固定宽地， 两个块浮动
*/
.page .main {
  position: relative;
  width: 1280px;
  margin: auto;
}
.page .main .left, .page .main .right {
  position: relative;
  float: left;
}

/* 左块 */
.main .left {
  width: 260px;
  height: 1210px;
  background-color: #2a2e3d;
  color: #525f71;
}
.main .left .user {
  position: relative;
  margin-top: 18px;
  height: 57px;
}

/* 两个圆嵌套 */
.left .user .round_big, .left .user .round_small {
  position: relative;
  display: block;
}
.left .user .round_big {
  width: 56px;
  height: 56px;
  float: left;
  margin-left: 45px;
  border: 1px solid #fff;
  border-radius: 28px;
}
.left .user .round_small {
  width: 50px;
  height: 50px;
  top: 3px;
  left: 3px;
  border-radius: 26px;
  background-color: #b4b5b9;
}
.left .user .username {
  margin-left: 18px;
  float: left;
  font-size: 14px;
  line-height: 56px;
}
.left .info {
  padding: 24px 0;
  font-size: 12px;
  line-height: 14px;
}
.left .info .item {
  width: calc(50% - 1px);
  float: left;
  text-align: center;
  display: inline-block;
}
.left .info .border_left {
  border-left: 2px solid #303444;
}

/* 下拉菜单 */
.left .menu_list {
  position: relative;
  font-size: 12px;
}
.left .menu_list .menu_item {
  position: relative;
  padding: 14px 0 14px 45px;
  margin-bottom: 16px;
}
/* 被选中的大选项显眼 */
.left .menu_list .option {
  background-color: #383d4e;
}
/* 所有二级和三级菜单不显示 */
.left .menu_list .menu_item .menu_two_list, .left .menu_item .menu_two_item .menu_three_list {
  display: none;
}
/* 选中菜单的下级菜单显示 */
.left .menu_list .option .menu_two_list, .left .option .two_option .menu_three_list {
  display: block;
}
/* 以选中的选项高亮 */
.left .menu_list .menu_item .white {
  color: #fff;
}

/* 设置子菜单的缩进 */
.left .menu_item .menu_two_list .menu_two_item {
  margin: 18px 0 0 22px;
}
.left .menu_item .menu_two_item .menu_three_list .menu_three_item {
  margin: 18px 0 0 34px;
}

/* 一级菜单标题的图标 */
.left .menu_list #menu_1 .title {
  background: url(./img/task_1_9_4.png) no-repeat center left;
  padding-left: 25px;
}
.left .menu_list #menu_2 .title, .left .menu_list #menu_4 .title, .left .menu_list #menu_5 .title {
  background: url(./img/task_1_9_9.png) no-repeat center left;
  padding-left: 25px;
}
.left .menu_list #menu_3 .title {
  background: url(./img/task_1_9_10.png) no-repeat center left;
  padding-left: 25px;
}
.left .menu_list #menu_6 .title {
  background: url(./img/task_1_9_11.png) no-repeat center left;
  padding-left: 25px;
}

/* 二级菜单标题图标 */
.left .menu_item .menu_two_item .two_title {
  background: url(./img/task_1_9_12.png) no-repeat center left 2px, url(./img/task_1_9_5.png) no-repeat center left 18px;
  padding-left: 34px;
}
.left .menu_item .two_option .two_title {
  background: url(./img/task_1_9_13.png) no-repeat center left, url(./img/task_1_9_6.png) no-repeat center left 18px;
}

/* 三级菜单标题图标 */
.left .menu_item .menu_two_item .menu_three_item .three_title {
  background: url(./img/task_1_9_8.png) no-repeat center left;
  padding-left: 15px;
}
.left .menu_item .menu_two_item .three_option .three_title {
  background: url(./img/task_1_9_7.png) no-repeat center left;
}


/* 右侧 */
.right {
  position: relative;
  width: 1020px;
  float: left;
}
/* 右边的标题 */
.right .title {
  padding-left: 30px;
  line-height: 30px;
  background-color: #fff;
}
.right .title p, .right .title span {
  float: left;
  font-size: 11px;
  color: #afafaf;
}
.right .title .option {
  color: #2189bf;
}
.right .title span {
  margin: 0 5px;
}

/* 右边的内容 */
.right .content {
  position: relative;
  margin: 20px 60px;
  background-color: #fff;
}